* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    background: linear-gradient(to top, #4fa4c9, #E1EFF4);
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    
}

#main { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 100%;
}

#form-container {
    
    width: 400px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

#list-container {

    width: 400px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
 

}

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#title {
    padding: 15px;
    width: 300px;
    font-size: 20px;
    outline: none ;
}

#title:focus {
    
    border: 2px solid #0d6efd;
}
#submit {
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover{
    background-color: #0d6efd;
}

#complete {

    margin-left: 10px;
   

}

.completed {

    text-decoration: line-through;
    font-style: italic;
    text-decoration-color: rgb(201, 12, 12);

}

input[type="checkbox"] {
    transform: scale(1.8);
  }

#list {
    list-style-type: none;
    width: 400px;
    height: 300px;
    overflow: auto;
    display: none;
   
   
}

.list-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
    padding: 15px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.list-checkboxandtitle{

    display: flex;
    gap: 10px;

}

.list-title {
    
    margin-left: 5px;
    max-width: 290px;
    
}


.list-trash:hover {
    fill: red;
    cursor: pointer;
}

#loading {
    display: flex;
    justify-content: center;
    color: green;
}


#error {
    display: none;
    padding: 5px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    
}

@media screen and (max-width: 1200px) {
    #main {
        gap: 50px;
    }
    #header {
        font-size: 30px;
    }
   
   
  }

@media screen and (max-width: 992px) {
    #main {
        gap: 10px;
        flex-direction: column;
        padding: 70px;
    }
    
    #header {
        font-size: 25px;
    }

    input[type="checkbox"] {
        transform: scale(1.0);
      }
    .list-item {

        font-size: 13px ;

    }  
  }  

